@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.scss';

.cursor-pointer {
    cursor: pointer !important;

    > input {
        cursor: pointer !important;
    }
}


.header-a {
    color: var(--bs-body-color) !important;
    text-decoration: none;
    position: relative;

    &:after {
        content: '';
    }

    &:hover:after {
        content: '🔗';
        position: absolute;
        float: left;
        left: -20px;
        bottom: 5px;
    }
}
